@import "../../sass/main.scss";

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);

  @include mq(desktop) {
    border: 0;
  }

  .toggleMenuButton {
    background-color: var(--mainBackgroundColor);
    border: 0;
    padding: 0;
    width: 8vw;
    min-width: 70px;
    height: 60px;

    @include mq(tablet) {
      min-height: 80px;
      height: calc(9vw + 10px);
    }

    @include mq(desktop) {
      display: none;
    }

    .toggleMenuButtonIcon {
      width: 40%;
    }
  }
}
