@import "../../sass/main.scss";

.wrapper {
  .description {
    font-size: 15px;
    @include mq(tablet-only) {
      font-size: 17px;
      line-height: 1.2em;
    }

    @include mq(desktop) {
      font-size: 16px;
    }

    .firstPart {
      margin-bottom: 20px;
      @include mq(desktop) {
        margin-bottom: 25px;
      }
    }

    .titleWrapper {
      display: flex;
      justify-content: space-between;

      .mainTitle {
        font-size: 18px;
        font-weight: 700;
        margin: 0 10px 15px 0;
        color: var(--boldTextColor);
        @include mq(tablet) {
          font-size: 20px;
        }

        @include mq(desktop) {
          font-size: 22px;
        }

        @include mq(desktop-big) {
          font-size: 25px;
        }
      }

      .languageBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: min-content;
        min-width: 65px;
        width: 15vw;
        max-width: 125px;
        padding: 5px 0;
        border: 0;
        background-color: rgba($color: #000000, $alpha: 0.05);
        box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.1);
        border-radius: 10px;
        font-size: 11px;
        font-weight: 500;
        line-height: 1;
        transition: box-shadow linear 70ms;

        &:hover {
          box-shadow: 0px 0px 8px 8px rgba(34, 60, 80, 0.1);
        }

        @include mq(tablet) {
          font-size: 12px;
        }
        @include mq(desktop) {
          font-size: 13px;
        }

        .icon {
          height: 18px;
          margin-bottom: 5px;
          @include mq(tablet) {
            height: 22px;
          }
          @include mq(desktop-big) {
            height: 25px;
            // display: none;
          }
        }
      }
    }

    .featuresList {
      list-style: disc;
      margin-bottom: 8px;
      padding-left: 15px;
      font-size: 15px;
      font-weight: 500;

      @include mq(tablet-only) {
        font-size: 16px;
        padding-left: 20px;
      }

      @include mq(desktop) {
        margin-bottom: 15px;
        padding-left: 20px;
      }

      @include mq(desktop-big) {
        font-size: 17px;
      }
    }

    .secondaryTitle {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 22px;
      text-decoration: underline;
      color: var(--boldTextColor);

      @include mq(desktop) {
        font-size: 17px;
      }
    }

    .descriptionTitle {
      margin-bottom: 5px;
      color: var(--boldTextColor);
      text-align: center;
      @include mq(tablet) {
        font-size: 20px;
        margin-bottom: 7px;
      }
    }

    .descriptionBoldText {
      text-align: center;
      margin-bottom: 5px;
      color: var(--boldTextColor);

      .descriptionBoldTextAttention {
        font-size: 17px;

        @include mq(tablet) {
          font-size: 19px;
        }
      }
    }

    .imageWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px 0;

      @include mq(tablet) {
        flex-direction: row;
        justify-content: center;
      }

      .interiorImages {
        width: 90%;
        max-width: 320px;
        border-radius: 3px;
        box-shadow: 0px 0px 14px 5px rgba(172, 172, 172, 0.3);
        &:first-child {
          margin-bottom: 15px;
        }

        @include mq(tablet) {
          width: 270px;
          &:first-child {
            margin-bottom: 0;
            margin-right: 30px;
          }
        }

        @include mq(desktop) {
          width: 320px;
        }
      }
    }

    .parkingPrice {
      display: block;
      font-weight: 500;
      text-decoration: underline;
      margin-top: 5px;
      @include mq(desktop) {
        margin-top: 7px;
      }
      @include mq(desktop-big) {
        margin-top: 3px;
      }
    }

    .exteriorImg {
      margin: 15px auto;
      width: 95%;
      max-width: 530px;
      box-shadow: 0px 0px 14px 5px rgba(172, 172, 172, 0.3);
      border-radius: 3px;

      @include mq(tablet) {
        margin: 20px auto;
      }
    }
    // font-weight: 450;
  }

  .phoneLinksBlock {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    @include mq(tablet) {
      margin-top: 15px;
    }

    .phoneLinksBlockTitle {
      font-size: 20px;
      font-weight: 500;

      @include mq(tablet) {
        font-size: 21px;
      }

      @include mq(desktop) {
        font-size: 22px;
      }
    }

    .phoneLinksList {
      list-style: disc;
      padding-left: 15px;
      .phoneLinksListItem {
        &:first-child {
          margin: 3px 0;
          @include mq(desktop) {
            margin: 5px 0;
          }
        }
      }

      .phoneLinksOperator {
        font-size: 16px;
        .phoneLinks {
          text-decoration: underline;
          color: var(--linksColor);
          transition: color linear 100ms;

          &:hover {
            color: var(--linksHoverColor);
          }
        }
      }
    }
  }
}
