@import "../../sass/main.scss";

.wrapper {
  display: none;
  @include mq(tablet) {
    display: block;
    border-bottom: 3px solid var(--navigationBlueColor);
  }

  .link {
    background-color: white;
    margin-right: 5px;
  }
}
