@import "../../../sass/main.scss";

.modalBodyBlock {
  position: fixed;
  overflow: auto;
  padding-top: 30px;
  height: calc(100vh - 62px);
  width: 100vw;
  bottom: 0;
  left: 0;
  // opacity: 0;
  transition: all linear 200ms;
  background: linear-gradient(
    180deg,
    rgb(71 165 71) -60px,
    rgb(255, 255, 255) 45vh
  );
  @include mq(tablet) {
    padding-top: 50px;
    max-height: calc(100vh - 82px);
    height: calc(100vh - (9vw + 12px));
    background: linear-gradient(
      180deg,
      rgb(71 165 71) -110px,
      rgb(255, 255, 255) 60vh
    );
  }
  @include mq(desktop) {
    display: none;
  }

  .listItemDisplayClass {
    @include mq(tablet) {
      display: none;
    }
  }
}
