div.sidebarElementMainBlock {
  h4.sidebarElementTitle {
    padding: 5px;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 16px;
  }
  font-size: 14px;

  ul.sidebarElementList {
    li.sidebarElementListItem {
      a.sidebarElementListItemLink {
      }
    }
  }
}
