@import "../../sass/main.scss";

.container {
  display: flex;
  flex-grow: 1;
  padding: 15px;

  @include mq(tablet) {
    padding: 3vw;
  }

  @include mq(desktop) {
    padding: 10px;
  }

  @include mq(desktop-big) {
    padding: 30px;
  }

  .centerContainer {
    width: 100%;
    @include mq(desktop) {
      padding: 0 30px;
    }
    @include mq(desktop-big) {
      padding: 0 40px;
    }
  }

  .mainNavigationBlock {
    display: none;
    @include mq(tablet) {
      display: flex;
      align-items: flex-end;
      margin-bottom: 3vw;
      border-bottom: 3px solid var(--navigationBlueColor);
      margin-top: -6px;
    }

    @include mq(desktop-big) {
      margin-bottom: 30px;
    }
  }
}
