@import "../../sass/main.scss";

.title {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--mainTitleColor);
  @include mq(tablet) {
    font-size: 22px;
  }

  @include mq(desktop-big) {
    font-size: 25px;
  }
}

.text {
  font-weight: 500;
  @include mq(tablet) {
    font-size: 17px;
  }
  &:first-of-type {
    margin-bottom: 10px;
  }
  &:last-of-type {
    margin-top: 10px;
  }
}

.contactsLink {
  display: block;
  margin: 10px 0 25px 0;
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
  color: var(--linksColor);
  transition: color linear 100ms, margin-left linear 100ms;

  @include mq(tablet) {
    font-size: 20px;
    margin: 15px 0 30px 0;
  }

  &:hover {
    color: var(--linksHoverColor);
    margin-left: 5px;
  }
}

.image {
  margin: 0 auto;
  width: 95%;
  max-width: 600px;
  box-shadow: var(--imageShadow);
  border-radius: 3px;
  cursor: zoom-in;
}
